<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="This is Chunlin Song's English Blog">
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.png">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/en/media/css/style.css">
    <link rel="stylesheet" href="/en/media/css/highlight.css">
    <script type="text/javascript" src="/en/media/js/jquery-1.7.1.min.js"></script>
  </head>
  
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1><center><a class="" href="{{ site.url }}/">Panta Rhei</a></center></h1>  
        </header>

        <ul class="nav pills">
        <li><a title="Main Site" class="" href="https://songchunlin.net" target="_blank">homepage</a></li>
        <li><a title="All posts" class="" href="{{ site.url }}/archive/">archive</a></li>
        <li><a title="Aout me and everything" class="" href="{{ site.url }}/about/">about</a></li>
        <li><a title="Curriculum vitae" class="" href="{{ site.url }}/vitae/">resume</a></li>
        <li><a title="My publications" class="" href="{{ site.url }}/publication/">publication</a></li>
        <li><a title="Links" class="" href="{{ site.url }}/links/">Links</a></li>
        </ul>

        <article class="content">
        {{ content }}
        </article>
<div><script>
  (function() {
    var cx = '006295899379521077361:pwotjnjztng';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-49016899-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    </body>
    <footer>
            <p><small><center>
              <a href="https://500px.com/songchunlin" title="Chunlin Song's Photo Gallery" target="_blank">500px</a> :: 
              <a href="https://twitter.com/SongChunlin" title="Chunlin Song's Twitter" target="_blank">X</a> :: 
              <a href="https://github.com/songchunlin" title="Chunlin Song's GitHub" target="_blank">GitHub</a> :: 
              <a href="https://www.researchgate.net/profile/Chunlin-Song" title="Chunlin Song's ResearchGate" target="_blank">ResearchGate</a> ::
              <a href="http://orcid.org/0000-0003-3627-2350" title="Chunlin Song's ORCID" target="_blank">ORCID</a> ::
              <a href="http://songchunlin.net/en/feed/" title="RSS subscribe" target="_blank" >RSS</a>
            </center> </small></p>
</footer>
</html>
